# Ignorar arquivos gerais
.DS_Store
.idea/
.vscode/
*.log
*.tmp
*.bak
*.swp
*.swo

# Backend - Java Spring Boot
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/.classpath
backend/.project
backend/.settings/
backend/.springBeans
backend/.sts4-cache/
backend/*.jar
backend/*.war
backend/*.ear
backend/*.iml
backend/*.ipr
backend/*.iws
backend/*.class

# Frontend - React Native
frontend/node_modules/
frontend/.expo/
frontend/.expo-shared/
frontend/.npm/
frontend/.yarn/
frontend/.cache/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.babelrc
frontend/.eslintrc
frontend/.prettierrc
frontend/.prettierignore
frontend/.watchmanconfig
frontend/.metro
frontend/.husky
frontend/build/
frontend/dist/
frontend/coverage/
frontend/android/
frontend/ios/
frontend/*.apk
frontend/*.aab
frontend/*.keystore